.topHeader{
  display: block; 
  @media (max-width: 1152px){
    display: none;
  }

}
.headerList{
  display: flex;
  align-items: center; 
  width: fit-content; 
  position: relative;
  @media (max-width:  1152px) { 
    display: none;
    
  }


}

.popup{
  width: 286px; 
  height: 327px; 
  background: #fff;
  position: absolute;
  top: 120px;
  right: 394px;
  z-index: 999;
  border-radius: 12px;
  padding-left: 20px; 
  padding-top: 25px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 500ms;
  display: none;

  @media (max-width: 768px ) {
    display: flex;
    flex-direction: column; 
    padding-top: 15px;
    transform: translate(-100%);  
    width: 100%;
    height: 100vh;
    top: 65px;
    right: 0;
    border-radius: 0%;
    transition: 500ms;
   

  }
 
} 
.active{
  transform: translate(0%);
  transition: 500ms;
  display: block;
}


.burger{
  width: 32px; 
  height: 32px; 
  display: none;







  .burgerItems {
    
    width: 100%; 
    height: 2px; 
    background: black;
    margin-top: 7px;
    transition: 500ms;
    &:nth-child(3){
      width: 80%; 
    } 
   
   
  }
  @media (max-width: 768px){
    display: block;
  }





}


.button{
  display: block; 
  @media (max-width: 768px){
    display: none;
  }

  
}



.active1{
  opacity: 0;
}
.active2{
    transform: rotate(45deg) translate(1px, -4px);
    // transition: ease-out 0.5s;
}
.active3{
    transform: rotate(-45deg) translate(-2px,7px);
    // transition: ease-out 0.5s;
}